.navbar {
    margin-bottom:3rem;
}
.help-block{
    color:red;
    font-style:italic;
}
.control-label{
    font-size:1.4rem;
}
.nav-item{
    }
.custom-container{
padding: 0 5rem}
.header{
    color:#fff;
    background-size:cover;
    height: 100vh;
    width:auto;
    margin-top:-4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);

}
.header .main-div{
    padding-top:15rem;
}
.header h1{
    font-size:3.5rem;
    padding-bottom:2rem;
    text-transform: uppercase;
    word-spacing:2rem;
}
.header a {
    padding: .8rem 6rem;
}
.first-anchor-{
    height:5rem;
}
.first-anchor- a{
    padding: .8rem 6.5rem;
}

.second-anchor-{
    height:5rem;
}
h1{
    text-align: center;
}
.flash{
    color:red;
    font-style:italic;
    text-align: center;
}
form .btn{
    margin-top: 2rem;
    padding: .8rem 4rem;
    margin-bottom: 1rem;
}

